<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\efrat\Documents\Visual Studio 2015\Projects\imageService\pictures;C:\Users\efrat\Documents\Visual Studio 2015\Projects\imageService\pictures2"/>
    <add key="OuptputDir" value="C:\Users\efrat\Documents\Visual Studio 2015\Projects\imageService\OutputFromApp"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key="ThumbnailSize" value="120"/>
  </appSettings>
</configuration>
