@model WebApplication2.Models.Thumbnail

@{
    ViewBag.Title = "DeletePhotoPressed";
}

<h2>DeletePhoto</h2>

<div class="alert alert-info" role="alert">
                    Do you Want To Delete This Photo? 
</div>

@{
    var thumb = Model;
}
<img src="~/OutputFromApp/Thumbnails/@thumb.year/@thumb.month/@thumb.name" class="img-circle" hight="242" width="200" />

@* delete the photo  *@
@Html.ActionLink("Delete", "DeletePhoto", new { picNumber = thumb.picNumber }, new { @class = "btn btn-info" })
<button type="button" id="cancel" class="btn btn-outline-danger">Cancel</button>

<script>
    //click on cancel - go back to the photo's page.
    $("#cancel").click(function () {
        window.location = "Photos";
    });
</script>



