
@model IEnumerable<WebApplication2.Models.LogModel>
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<table id="logsTable" class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Message
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>

    }
</table>
@* filter the logs by type *@
<h2>Filter by Type</h2>
<input type="text" id="typeFilterID" size="5"/>
<input type="button" id="btnSearch" value="Filter" />

<script>
    $("#btnSearch").click(function () {
        var input = {
            type: $("#typeFilterID").val()
        };
        var filter = input;
        var logs = document.getElementById("logsTable");        // i think here there is a problemmmmmmmm
        var tr = logs.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              //if filter is equal to the type in the row, or there is no filter - show the row
                if (td.innerHTML.indexOf(filter.type) > -1 || filter.type == "") {

                  tr[i].style.display = "";

                   //else, hide the row
                } else {
                    tr[i].style.display = "none";
                }
            }



            }
    });
</script>