@model IEnumerable<WebApplication2.Models.LogModel>
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Message
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>

    }
</table>