@model IEnumerable<WebApplication2.Models.LogModel>
@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<table id="logsTable" class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Message
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>

    }
</table>
<div>
    <h2>Filter by Type</h2>
    <input type="text" id="typeFilterID" size="5"/>
    <input type="button" id="btnSearch" value="Filter"/>

</div>
<script>
    $("#btnSearch").click(function () {
        var input = {
            type: $("#typeFilterID").val()
        };
        var filter = input.toUpperCase();
        var logs = document.getElementById("logsTable");
        var tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }
    });
</script>