@model WebApplication2.Models.ThumbnailsModel

@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<div class="container">
    <div class="row">
                @foreach (var thumb in Model.thumbs)
                {
                    <div class="col-xs-6 cil-md-3">
                        
                            <figure href="#" class="img-thumbnail">
                                @*<%@taglib uri="http://java.sun.com/portlet_2_0" prefix="portlet" %>*@
                                @*<img src="<%=renderRequest.getContextPath()%>/OutputFromApp/Thumbnails/@thumb.year/@thumb.month/@thumb.name" class="img-circle" hight="242" width="200" />*@

                                @{var output = "~\\OutputFromApp\\Thumbnails"; }
                                <img src="@output\\@thumb.year\\@thumb.month\\@thumb.name" class="img-circle" hight="242" width="200" />
                                @*@{ 
                                    var path = app.use(express.static('/path/to/your/folder'))

                                }*@
                                <h4>@thumb.name</h4>
                                <p>Taken In @thumb.month/@thumb.year</p>


                                @Html.ActionLink("Delete", "DeletePhotoPressed", new { picNumber = thumb.picNumber }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("View", "ViewPhoto", new { picNumber = thumb.picNumber }, new { @class = "btn btn-danger" })
                            </figure>
                       
                    </div>
                  }
    </div>
</div>

