

@model WebApplication2.Models.ConfigModel
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Remove Handler</h2>

<div class="alert alert-danger" role="alert">
    Are you sure you want to remove handler: @ViewBag.dirToRemove ??? 
</div>

<form>
    <div class="form-group form-check">
        @* add buttons - ok & cancel.  *@
        <button type="button" id="ok" class="btn btn-success">@Html.ActionLink("Yes! Remove this God Damn Handler", "Remove", "First", new { dir = ViewBag.dirToRemove }, null) </button>
        <input type="button" id="cancel" value="Cancel" onclick='window.location="Configuration";'/>
       @* <a href="http://localhost:33438/First/Configuration"id="cancel "class="btn btn-primary">Cancel</a>*@
    </div>
</form>

<script>
    //if ok is clicked - disable the buttons until the handler is delete
    $("#ok").click(function () {
        $("#ok").attr("disabled", "disabled");
        $("#cancel").attr("disabled", "disabled");
        });

</script>