

@model WebApplication2.Models.ConfigModel
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Remove Handler</h2>

<div class="alert alert-danger" role="alert">
    Are you sure you want to remove handler: @ViewBag.dirToRemove ??? 
</div>

<form>
    <div class="form-group form-check">
        <button type="button" id="ok" class="btn btn-success">@Html.ActionLink("Yes! Remove this God Damn Handler", "Remove", "First", new { dir = ViewBag.dirToRemove }, null) </button>
        <a href="http://localhost:33438/First/Configuration"id="cancel "class="btn btn-primary">Cancel</a>
    </div>
</form>

<script>
    $("#ok").click(function () {

        //ADD HERE:
        //disable both buttons
        //enable buttons back return to confiuration page only after recieved msg from server (its hapning throw onDataRecieved)
    });

</script>