

@model IEnumerable<WebApplication2.Models.ConfigModel>
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Remove Handler</h2>

<div class="alert alert-danger" role="alert">
    Are you 100% sure you want to remove handler: ADD HERE HANDLER NAME ??? 
</div>

<form>
    <div class="form-group form-check">
        <button type="submit" class="btn btn-primary">Yes! Remove this god damn handler</button>
        <button type="submit" class="btn btn-primary">No, I dont want to remove</button>
    </div>
</form>
