

@model WebApplication2.Models.ConfigModel
@{
    ViewBag.Title = "RemoveHandler";
}

<h2>Remove Handler</h2>

<div class="alert alert-danger" role="alert">
    Are you sure you want to remove handler: @ViewBag.dirToRemove ??? 
</div>

<form>
    <div class="form-group form-check">
        <button type="button" id="ok" class="btn btn-success">@Html.ActionLink("Yes! Remove this God Damn Handler", "Remove", "First", new { dir = ViewBag.dirToRemove }, null) </button>
        <button type="button" id="cancel" onclick='window.location="Configuration";' class="btn btn-info">Cancel</button>

    </div>
</form>

<script>
    $("#ok").click(function () {
        $("#ok").attr("disabled", "disabled");
        $("#cancel").attr("disabled", "disabled");
        
    });

</script>