@model WebApplication2.Models.Thumbnail

@{
    ViewBag.Title = "ViewPhoto";
}

<h2>ViewPhoto</h2>

<div>
    <h4>@Model.name</h4>
    <p>Taken In @Model.month/@Model.year</p>
    <img src="data:image/jpg;base64,@Model.SingleBase64(@Model.fullPathToPic)" />
    <button type="button" id="cancel" class="btn btn-outline-danger">Back</button>



</div>

<div>
    @Html.ActionLink("Delete", "DeletePhotoPressed", new { picNumber = Model.picNumber }, new { @class = "btn btn-primary btn-lg" })

</div>


<script>
    $("#cancel").click(function () {
        window.location = "Photos";
    });
</script>